---
import Input from './ThemeInput.astro'
---

<script>
    const switcher = document.querySelector('#theme-switcher')
    const doc = document.firstElementChild

    const setTheme = (theme: string) => doc?.setAttribute('color-scheme', theme)

    switcher &&
        switcher.addEventListener('input', (e) => {
            const val: string = (e.target as HTMLInputElement).value
            setTheme(val)
        })
</script>

<style>
    .container {
        display: flex;
        /* color: var(--text-1); */
        justify-content: space-around;

        background-color: var(--surface-4);
    }
</style>

<div id="theme-switcher" class="container">
    <div><Input theme="auto" /></div>
    <div><Input theme="light" /></div>
    <div><Input theme="dim" /></div>
    <div><Input theme="dark" /></div>
    <div><Input theme="grape" /></div>
    <div><Input theme="choco" /></div>
</div>
