---
import Input from './ThemeInput.astro'
---

<div id="theme-switcher" class="container">
    <Input theme="auto" />
    <Input theme="light" />
    <Input theme="dim" />
    <Input theme="dark" />
    <Input theme="grape" />
    <Input theme="choco" />
</div>
